<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="card" *ngIf="!isLoading">
  <h4 class="card-header">Cidades cadastradas ({{cidades.length}})</h4>
  <div class="card-block">
    <table class="table table-bordered table-striped">

      <thead class="thead-default">
        <tr>
          <th>Nome</th>
          <th>Cod. IBGE</th>
          <th>Ações</th>
        </tr>
      </thead>

      <tbody *ngIf="cidades.length === 0">
        <tr>
          <td colspan="4">Não há cidades no banco de dados. Adicione uma nova cidade abaixo.</td>
        </tr>  
      </tbody>

      <tbody *ngIf="!isEditing">
        <tr *ngFor="let cidade of cidades">
          <td>{{cidade.name}}</td>
          <td>{{cidade.codIBGE}}</td>
          <td>
            <button class="btn btn-sm btn-warning" (click)="enableEditing(cidade)"><i class="fa fa-pencil"></i> Editar</button> 
            <button class="btn btn-sm btn-danger" (click)="deleteCidade(cidade)"><i class="fa fa-trash"></i> Deletar</button>
          </td>
        </tr>  
      </tbody>

      <tbody *ngIf="isEditing">
        <tr>
          <td colspan="4">
            <form class="form-inline" #form="ngForm" (ngSubmit)="editCidade(cidade)" style="display:inline">
              <div class="form-group">
                <input class="form-control" type="text" name="name" [(ngModel)]="cidade.name" placeholder="Nome" required>
              </div>
              <div class="form-group">
                <input class="form-control" type="number" name="codIBGE" [(ngModel)]="cidade.codIBGE" placeholder="Cod. IBGE" min="0" required>
              </div>
              <button class="btn btn-sm btn-primary" type="submit" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i> Salvar</button>
            </form>
            <button class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i> Cancelar</button>
          </td>
        </tr>
      </tbody>
      
    </table>
  </div>
</div>

<div class="card" *ngIf="!isEditing">
  <h4 class="card-header">Adicionar nova cidade</h4>
  <div class="card-block">
    <form class="form-inline" [formGroup]="addCidadeForm" (ngSubmit)="addCidade()" style="text-align:center">
      <div class="form-group">
        <input class="form-control" type="text" name="name" formControlName="name" placeholder="Nome">
      </div>
      <div class="form-group">
        <input class="form-control" type="number" name="codIBGE" formControlName="codIBGE" placeholder="Cod. IBGE" min="0">
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!addCidadeForm.valid"><i class="fa fa-floppy-o"></i> Adicionar</button>
    </form>
  </div>
</div>